body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:65px;
  width:1559px;
  height:1601px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1559px;
  height:1601px;
}
#u1 {
  position:absolute;
  left:2px;
  top:792px;
  width:1555px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:110px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:297px;
  width:80px;
  height:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:65px;
  width:1580px;
  height:59px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:59px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:279px;
  width:194px;
  height:121px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:121px;
}
#u9 {
  position:absolute;
  left:2px;
  top:52px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:296px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:80px;
  top:339px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:80px;
  top:373px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:561px;
  width:194px;
  height:295px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:295px;
}
#u17 {
  position:absolute;
  left:2px;
  top:140px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:20px;
  top:400px;
  width:194px;
  height:295px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:295px;
}
#u19 {
  position:absolute;
  left:2px;
  top:140px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:60px;
  top:419px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:80px;
  top:459px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:80px;
  top:493px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:80px;
  top:527px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:557px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:80px;
  top:587px;
  width:80px;
  height:16px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:80px;
  top:617px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:80px;
  top:649px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:20px;
  top:675px;
  width:194px;
  height:295px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:295px;
}
#u37 {
  position:absolute;
  left:2px;
  top:140px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:60px;
  top:694px;
  width:70px;
  height:16px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:80px;
  top:739px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:80px;
  top:770px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:80px;
  top:800px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:80px;
  top:829px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:80px;
  top:857px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:20px;
  top:901px;
  width:194px;
  height:295px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:295px;
}
#u51 {
  position:absolute;
  left:2px;
  top:140px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:60px;
  top:920px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:80px;
  top:966px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:20px;
  top:1022px;
  width:194px;
  height:295px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:295px;
}
#u57 {
  position:absolute;
  left:2px;
  top:140px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:60px;
  top:1040px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:80px;
  top:1084px;
  width:70px;
  height:16px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:80px;
  top:1114px;
  width:70px;
  height:16px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:80px;
  top:1142px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:80px;
  top:339px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1380px;
  top:870px;
  width:100px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69 {
  position:absolute;
  left:270px;
  top:201px;
  width:1290px;
  height:751px;
  text-align:left;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:751px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:290px;
  top:244px;
  width:600px;
  height:656px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:656px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:270px;
  top:160px;
  width:1290px;
  height:47px;
  font-size:16px;
  color:#282828;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1290px;
  height:47px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:1286px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:80px;
  top:992px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:20px;
  top:1176px;
  width:194px;
  height:295px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:295px;
}
#u78 {
  position:absolute;
  left:2px;
  top:140px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:60px;
  top:1194px;
  width:80px;
  height:16px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:20px;
  top:1351px;
  width:194px;
  height:295px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:295px;
}
#u82 {
  position:absolute;
  left:2px;
  top:140px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:60px;
  top:1369px;
  width:80px;
  height:16px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:80px;
  top:1413px;
  width:70px;
  height:16px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:80px;
  top:1443px;
  width:70px;
  height:16px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:80px;
  top:1238px;
  width:70px;
  height:16px;
  color:#FFFFFF;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:80px;
  top:1268px;
  width:70px;
  height:16px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:80px;
  top:1296px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:80px;
  top:1322px;
  width:60px;
  height:16px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:20px;
  top:1471px;
  width:194px;
  height:295px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:295px;
}
#u98 {
  position:absolute;
  left:2px;
  top:140px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:60px;
  top:1489px;
  width:80px;
  height:16px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:80px;
  top:1533px;
  width:70px;
  height:16px;
  color:#FFFFFF;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:80px;
  top:1563px;
  width:70px;
  height:16px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
