body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:16px;
  top:25px;
  width:353px;
  height:324px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:324px;
}
#u1 {
  position:absolute;
  left:2px;
  top:154px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:-29px;
  width:374px;
  height:25px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:25px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:16px;
  top:-39px;
  width:90px;
  height:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:489px;
  width:1250px;
  height:391px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:391px;
}
#u7 {
  position:absolute;
  left:2px;
  top:188px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:18px;
  top:433px;
  width:1252px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:1248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:14px;
  top:423px;
  width:90px;
  height:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
